body{
    background-color:rgb(255,220,228);
 }
 
 .title{
   position: absolute;
   top: 0px;
   left: 320px;
   width: 900px;
   height: 250px;
 }
 .a{
   position: absolute;
   top: 300px;
   left: 90px;
   width: 300px;
   height: 390px;
 }
 .b{
  position: absolute;
  top: 300px;
  left: 390px;
  width: 300px;
  height: 390px;
}
.c{
  position: absolute;
  top: 300px;
  left: 890px;
  width: 300px;
  height: 390px;
}

