body{
    background-color:rgb(133,255,226);
 }
 
.title{
   position: absolute;
    top: 0px;
    left: 289px;
    width: 900px;
    height: 290px;

}
 .a {
    position: absolute;
    top: 190px;
    left: 90px;
    width: 400px;
    height: 400px;
 }

 .b {
    position: absolute;
    top: 400px;
    left: 350px;
    width: 400px;
    height: 250px;
 }

 .c {
   width: 500px;
   height: 200px;
   position: absolute;
   top: 290px;
   left: 550px;
}

.d {
   width: 520px;
   height: 260px;
   position: absolute;
   top: 340px;
   left: 880px;
}